@page
@model ModuleCreation.Pages.Modules.IndexModel
@{
}


<h1>:: Manage Module Page</h1>
<br />
<br />


<div>
<div  class="row">
    <div>
        <a href="Modules/CreateModule" >Create Module</a>
    </div>
    <div style="padding-left: 20px;">
        <a href="Modules/ViewModule">View Module</a>
    </div>
    <div style="padding-left: 20px;">
        <a href="#Modules/Delete">Delete Module</a>
    </div>
</div>
</div>