@page
@model ModuleCreation.Pages.Modules.UpdateModuleModel
@{
}


<h1>:: Update Modules ::</h1>
<br />


<div class="row">
    <div class="col-4">

        <form method="post">
            <div class="form-group">
                <label asp-for="Mod.ModuleCode" class="control-label font-weight-bold">Module Code : </label>
                <input asp-for="Mod.ModuleCode" class="form-control" />
                <span asp-validation-for="Mod.ModuleCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Mod.ModuleName" class="control-label font-weight-bold">Module Name : </label>
                <input asp-for="Mod.ModuleName" class="form-control" />
                <span asp-validation-for="Mod.ModuleName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Mod.ModuleLevel" class="control-label font-weight-bold">Module Level : </label>
                @Html.DropDownListFor(x => Model.Mod.ModuleLevel, new SelectList(Model.Level), "Select Level", htmlAttributes: new { @class = "form-control", id = "level" })
                <span asp-validation-for="Mod.ModuleLevel" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Mod.ModuleYear" class="control-label font-weight-bold">Module Year : </label>
                <br />
                <div>
                    <input type="checkbox" onClick="toggle(this)" /> Select All<br />
                </div>

                @for (int i = 0; i < Model.Year.Count; i++)
                {
                    //Console.WriteLine("here : "+i);
                    @Html.CheckBoxFor(m => m.Mod.ModuleYear[i], new { @class = "form-check-inline" })@Model.Year[i]
                    <br />

                }
                <span asp-validation-for="Mod.ModuleYear" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="Mod.ModuleCourse" class="control-label font-weight-bold">Module Course :</label><br />
                <select asp-for="Mod.ModuleCourse" type="text" asp-items="Model.Course" multiple style="width: 250px;">
                </select>

                <br />
                <span asp-validation-for="Mod.ModuleCourse" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Mod.ModuleOfferStatus" class="control-label font-weight-bold">Module Offer Status</label><br />

                @for (int i = 0; i < Model.StatusOfModule.Length; i++)
                {
                    <div style="padding-left: 15px;">
                        @Html.RadioButtonFor(model => model.Mod.ModuleOfferStatus, Model.StatusOfModule[i]) @Model.StatusOfModule[i]
                    </div>
                }
                <span asp-validation-for="Mod.ModuleOfferStatus" class="text-danger"></span>
            </div>

            <div>
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>

    </div>


</div>
